.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
 

 
  
}

.App .first{
grid-area: 1/1/2/2;
}

.App .sec{
  grid-area: 2/1/2/2;
}

.App .third{
  grid-area: 1/2/4/4;
}